doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/style/index.scss")
        
    body        
        include ./view/header.pug
        main
            form(action="javascript:void(null);" method="post" data-form-api="phone.php")
                include ./view/recommendation.pug
                include ./view/grade.pug
                include ./view/video-content.pug
                include ./view/social-networks.pug
                include ./view/services.pug
                include ./view/video-servi-online-cinema.pug
                include ./view/name.pug
            form(action="javascript:void(null);" method="post" data-form-api="code.php")
                include ./view/phone-sms.pug
            form(action="javascript:void(null);" method="post" data-form-api="end.php").js-form-end
                include ./view/end.pug
            .modal.fade(id="confirm-modal" tabindex="-1" aria-hidden="true")
                .modal-dialog.modal-dialog-centered.modal-confirm
                    .modal-content
                        .modal-body.modal-confirm
                            h2.label-title.mb-1 Вам необходим звонок оператора для решения возникших вопросов?
                            .wrpb
                                button.btn.js-btn-code.js-btn-yes Да
                                button.btn.js-btn-code.js-btn-no Нет
            .modal.fade(id="success-modal-operator" tabindex="-1" aria-hidden="true")
                .modal-dialog.modal-dialog-centered.modal-confirm
                    .modal-content
                        .modal-body.modal-confirm
                            h2.label-title Спасибо за обратную связь! <br>Наш оператор свяжется с Вами!
            .modal.fade(id="success-modal" tabindex="-1" aria-hidden="true")
                .modal-dialog.modal-dialog-centered.modal-confirm
                    .modal-content
                        .modal-body.modal-confirm
                            h2.label-title Спасибо за обратную связь!
            .modal.fade(id="privacy-modal" tabindex="-1" aria-hidden="true")
                .modal-dialog.modal-dialog-centered.modal-confirm
                    .modal-content
                        .modal-body.modal-confirm
                            h2.label-title Спасибо за обратную связь!
            .modal.fade(id="agreement-modal" tabindex="-1" aria-hidden="true")
                .modal-dialog.modal-dialog-centered.modal-agreement
                    .modal-content
                        .modal-body.modal-confirm
                            .scroll-window
                                h2.label-title.mb-1 РАЗЪЯСНЕНИЕ <br> физическому лицу его прав, связанных с обработкой его персональных данных,<br>механизма реализации таких прав, последствий дачи согласия или отказа в дачи<br>согласия в соответствии с частью второй пункта пятого статьи 5<br>Закона Республики Беларусь от 7 мая 2021 г. № 99-З<br>«О защите персональных данных»
                                h2.label-title.label-title--left.mb-2 1. Согласие физического лица на обработку его персональных данных, последствия дачи согласия и отказа в даче согласия
                                p.mb-1 Отношения, связанные с защитой персональных данных, регулируются Законом Республики Беларусь от 7 мая 2021 г. № 99-З «О защите персональных данных» (далее – Закон).<br>Согласие физического лица на обработку его персональных данных (далее – согласие) представляет собой свободное, однозначное, информированное выражение его воли, посредством которого он разрешает обработку своих персональных данных. Согласие дается в письменной форме или в виде электронного документа или в иной электронной форме. Форма согласия и его содержание определяется Унитарным предприятием по оказанию услуг «А1» (далее – Унитарным предприятием «А1») с учетом требований законодательства. До дачи согласия физическое лицо обязано ознакомиться с настоящим Разъяснением, а также с информацией, указанной в согласии.<br>Если физическое лицо предоставит Унитарному предприятию «А1» согласие на обработку его персональных данных, Унитарное предприятие «А1» будет их обрабатывать в соответствии с положениями согласия на обработку персональных данных и требованиями применимого законодательства. В случае, если физическое лицо откажется от предоставления согласия на обработку его персональных данных, и у Унитарного предприятия «А1» не будет иных оснований для обработки его персональных данных, Унитарное предприятие «А1» не сможет оказать физическому лицу соответствующие услуги.<br>Отказ от дачи согласия не влечет для физического лица никаких неблагоприятных последствий, в том числе применения штрафных санкций.
                                h2.label-title.label-title--left.mb-2 Права физического лица, связанные с обработкой персональных данных
                                p Физическое лицо имеет право: <br>- на получение информации, касающейся обработки его персональных данных. Это означает, что физическое лицо может бесплатно ознакомиться с наименованием и местом нахождения оператора[1], получить подтверждение факта обработки его персональных данных, а также узнать конкретный перечень персональных данных с указанием источников их получения, правовых оснований, целей и сроков обработки. При этом физическое лицо не должно обосновывать свой интерес к запрашиваемой информации;<br>- на корректировку своих персональных данных. Это означает, что в случаях, если персональные данные физического лицо являются неполными, устаревшими или неточными оно может подать оператору заявление, с приложением соответствующих документов и (их копий), подтверждающих необходимость внесения изменений;<br>- на получение информации о предоставлении персональных данных физического лица третьим лицам. Это означает, что физическое лицо может ознакомиться с информацией о всех фактах предоставления его персональных данных третьим лицам, которые имели место в течение года, предшествовавшего дате подачи заявления. Если иное не предусмотрено настоящим Законом и иными законодательными актами, то реализация данного права является бесплатной, но не чаще одного раз в календарный год;<br>- на прекращение обработки персональных данных или их удаление. Это означает, что физическое лицо может требовать от оператора прекращения обработки или удаления его персональных данных (при отсутствии у оператора иных оснований для обработки, предусмотренных Законом и иными законодательными актами). При отсутствии технической возможности удаления персональных данных оператор примет исчерпывающие меры по недопущению их дальнейшей обработки;<br>- на отзыв согласие на обработку и передачу персональных данных физического лица. Это означает, что как только оператор получит заявление о том, что физическое лицо отзывает свое согласие, оператор больше не будет обрабатывать те персональные данные, с обработкой которых физическое лицо изначально согласилось (при отсутствии у оператора иных оснований для обработки, предусмотренных Законом и иными законодательными актами). Данное право может реализовать в той форме, в которой было выражено согласие либо в порядке, определенном в пункте 3 настоящего Разъяснения;<br>- право на обжалование действий (бездействия) и решений оператора. Это означает, что физическое лицо вправе обжаловать действия (бездействие) и решения Унитарного предприятия «А1», нарушающие его права при обработке персональных данных, в Национальный центр защиты персональных данных Республики Беларусь в порядке, установленном законодательством об обращениях граждан и юридических лиц. Принятое Национальным центром защиты персональных данных Республики Беларусь решение также может быть обжаловано физическим лицом в установленном законодательством судебном порядке.
                                p.psmall.mb-1 [1] В соответствии с абзацем восьмым статьи 1 Закона Республики Беларусь от 7 мая 2021 г. № 99-З «О защите персональных данных»: оператор - государственный орган, юридическое лицо Республики Беларусь, иная организация, физическое лицо, в том числе индивидуальный предприниматель (далее, если не определено иное, - физическое лицо), самостоятельно или совместно с иными указанными лицами организующие и (или) осуществляющие обработку персональных данных.
                                h2.label-title.label-title--left.mb-2 3. Механизм реализации прав физического лица, связанных с обработкой его персональных данных
                                p Для реализации прав, предусмотренных в пункте 2 настоящего Разъяснения, физическое лицо подает в Унитарное предприятие «А1» заявление в письменной форме либо в виде электронного документа.<br>Заявление физического лица должно содержать:<br>фамилию, собственное имя, отчество (если таковое имеется), адрес места жительства (места пребывания);<br>дату рождения;<br>идентификационный номер физического лица, в случае отсутствия такового – номер документа, удостоверяющего личность, в случаях, если эта информация указывалась физическим лицом при даче своего согласия Унитарному предприятию «А1» или обработка персональных данных осуществляется без согласия физического лица;<br>изложение сути требований;<br>личную подпись либо электронную цифровую подпись физического лица;<br>к заявлению о внесения изменений в персональные данные в случае, если персональные данные являются неполными, устаревшими или неточными, прилагаются соответствующие документы и (или) их заверенные в установленном порядке копии, подтверждающих необходимость внесения изменений в персональные данные.
                            button.btn.mt-1.btn-close Ознакомлен
        script(src="./assets/js/index.js" type="module") 