// Animation
$transition: 0.3s;


// Fonts
$font-default: 'Gotham Pro';

$fw-light: 100;
$fw-regular: 300;
$fw-medium: 400;
$fw-bold: 700;
$fw-black: 900;

$gray200:      #cccccc;
$gray300:      #747474;
