@import './abstracts/index.scss';
@import './libs/index.scss';
@import './base/index.scss';
@import './components/index.scss';

body {
    background-color: #001C85;
    color: #fff;
}

.container {
    max-width: 1510px;
    padding: 0 15px;
    margin: 0 auto;
}

//utilities
.mt-1 {
    margin-top: 27px;
}

.mt-2 {
    margin-top: 43px;

    @media screen and (max-width: 640px) {
        margin-top: 30px;
    }
}

.mt-4 {
    margin-top: 70px;

    @media screen and (max-width: 640px) {
        margin-top: 50px;
    }
}

.mt-5 {
    margin-top: 90px;

    @media screen and (max-width: 640px) {
        margin-top: 30px;
    }
}

.mt-6 {
    margin-top: 100px;

    @media screen and (max-width: 640px) {
        margin-top: 50px;
    }
}

.mt-7 {
    margin-top: 30px;
}


.mt-8 {
    margin-top: 149px;

    @media screen and (max-width: 640px) {
        margin-top: 50px;
    }
}

.mb {
    margin-bottom: 165px;
}

.mb-1 {
    margin-bottom: 45px;
}

.mb-2 {
    margin-bottom: 15px;
}

.ml-1 {
    margin-left: 49px;

    @media screen and (max-width: 640px) {
        margin-left: 24px;
    }
}

.wrpi {
    position: relative;
}

.modal-content {
    background: #001C85;
    // box-shadow: 0px 12px 61px rgba(0, 0, 0, 0.5);
    border-radius: 28px;
}

.modal-confirm {
    max-width: 800px;

    .modal-body {
        background-image: url(../images/modalconfirm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: inherit;
        padding: 100px 70px;

        .label-title {
            text-align: center;
        }
    }
}

.modal-agreement {
    max-width: 1000px;
    text-align: center;

    .modal-body {
        width: 100%;
        max-width: 100%;
        background-image: url(../images/modalconfirm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: inherit;
        padding: 50px 20px;

        .label-title {
            text-align: center;
            font-size: 20px;
            line-height: 25px;

            @media screen and (max-width: 640px) {
                font-size: 14px;
                line-height: 22px;
            }


            &--left {
                text-align: left;
            }
        }

        p {
            text-align: left;
            font-size: 15px;
            line-height: 20px;
        }
    }
}

.wrpb {
    display: flex;
    justify-content: center;

    .btn {
        margin: 0 10px;
    }
}

.js-choise {
    position: relative;

    .form-error {
        bottom: -10px;
    }
}

.modal,
body {
    padding: 0 !important;
}

.js-form-end {
    position: relative;
}

.psmall {
    font-size: 12px;
}

.scroll-window {
    max-height: 300px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 11px;
        /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(67, 239, 206, 0.85);
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }
}