.btn {
   position: relative;
   background: #43EFCE;
   border-radius: 27px;
   border: none;
   color: #001C80;
   width: 267px;
   height: 55px;
   font-size: 20px;
   cursor: pointer;
   transition: $transition;

   &_small {
      width: 220px;
   }

   &_end {
      margin-top: 70px;
      margin-left: 49px;
   }

   &:hover,
   :focus {
      background: #2fdcb9;
   }

   &:active {
      background: #25b598;
   }

   &:disabled,
   &[disabled] {
      background-color: $gray200;
      color: $gray300;
      cursor: not-allowed;
   }

   &--load {
      font-size: 0;

      &::before {
         margin: auto;
         position: absolute;
         content: '';
         height: 24px;
         width: 24px;
         right: 0;
         top: 0;
         bottom: 0;
         left: 0;
         background-size: 100%;
         animation: spin 1s linear infinite;
         background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAApklEQVRIieWVuw2DMBRFj/IZgFDTBhqWoAKxDovAMtkH0jIBBRQ8FBQgsi2HT3Kk21jva/vZ8E+kwBOogOQbCSqgFZWqTicLiW9AIXJUna6iMQl9FyUQj9YLXp3l74EuGpU+AE/D3hoOfeU5Glt0HM6W4wWAC9RLBh7mBxkAjcgfFufmoDVMsAo+cN+6iB8hFKmSiSbovEWfsHbzIpEyJv/BrufkgHS4mRfHknkLXgAAAABJRU5ErkJggg==') 50% 50% no-repeat;
      }
   }

}

@keyframes spin {
   100% {
      transform: rotate(-360deg);
   }
}