.header {
   position: relative;
   background-image: url(../images/voka_new_season_dad_2.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 952px;
}


.link {
   position: relative;
   font-size: 19px;
   color: rgba(255, 255, 255, 0.8);
   padding-left: 17px;
   display: flex;
   align-items: center;
   padding-top: 56px;
   padding-bottom: 91px;

   &::before {
      content: "";
      width: 10px;
      height: 11px;
      background-image: url(../images/Vector1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;


   }

}

.logo {
   width: 217px;
   height: 164px;
   
}

.h1 {
   font-weight: 400;
   font-size: 59px;
   line-height: 74px;
   padding-top: 107px;
   padding-bottom: 34px;
}

.description {
   font-size: 35px;
   line-height: 44px;
   font-weight: 100;
   
}