.header {
   position: relative;
   padding-top: 41px;
   padding-bottom: 240px;
   background-image: url(../images/main2.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   @media screen and (max-width: 640px) {
      padding-top: 300px;
      padding-bottom: 35px;
      background-image: url(../images/main2_mob.jpg);
   }
}

.header-desc {
   display: flex;
   flex-direction: column;
}


.link {
   position: relative;
   font-size: 19px;
   color: rgba(255, 255, 255, 0.8);
   padding-left: 17px;
   display: inline-flex;
   align-items: center;
   margin-bottom: 91px;

   @media screen and (max-width: 640px) {
      display: none;
   }

   &::before {
      content: "";
      width: 10px;
      height: 11px;
      background-image: url(../images/Vector1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 4px;
   }

}

.logo {
   width: 217px;
   height: 164px;
   @media screen and (max-width: 640px) {
      width: 80px;
      height: auto;
   }
}

.title {
   font-weight: 400;
   font-size: 59px;
   line-height: 74px;
   padding-top: 107px;
   padding-bottom: 34px;

   @media screen and (max-width: 640px) {
      padding-top: 25px;
      padding-bottom: 24px;
      font-size: 32px;
      line-height: 39px;
   }

   span {
      &:nth-child(2) {
         @media screen and (max-width: 640px) {
            display: block;
         }
      }

      &:nth-child(3) {
         display: block;
      }
   }
}

.description {
   font-size: 35px;
   line-height: 44px;
   font-weight: 100;
   @media screen and (max-width: 640px) {
      font-size: 22px;
      font-weight: 100;
      line-height: 28px;
   }
}