.container.mt-4
   .checkbox.ml-1         
         input.checkbox__input.js-input-agree(type="checkbox" id="checkbox_40" name="agreement" value="agree") 
         label.checkbox__lable(for="checkbox_40") Я даю своё свободное, однозначное и <span>информированное</span> согласие <br>на обработку персональных данных Унитарным предприятием «А1» <br>для улучшения видеосервиса VOKA.
   button(disabled).btn.mt-4.ml-1.js-btn-finish Завершить опрос
   .form-error.ml-1.form-error-end