.container.mt-4 
   .checkbox.ml-1         
         input.checkbox__input(type="checkbox" id="checkbox_40" value="Amediateka" checked) 
         label.checkbox__lable(for="checkbox_40") Я даю своё свободное, однозначное и информированное согласие <br>на обработку персональных данных Унитарным предприятием «А1» <br>для улучшения видеосервиса VOKA.
   button.btn.mt-4.ml-1.mb Завершить опрос    