.container.mt-4   
   h2.label-title.label-title_decorate Почему Вы поставили именно эту оценку?
   .field-custom.mt-7
      input.field-custom__input.ml-1(type="text" name="text" placeholder="Поле для ввода ответа")
