.container
   .grade
      h2.label-title.label-title_decorate Почему Вы поставили именно эту оценку?
      .field-custom
         input.field-custom__input.grade__input(type="text" name="text" placeholder="Поле для ввода ответа")
