.container.mt-4   
   h2.label-title.label-title_decorate Почему Вы поставили именно эту оценку?
   .form-field.field-custom.mt-7
      textarea(name="review" placeholder="Поле для ввода ответа").field-custom__input.field-custom__input--textarea
