.container.mt-4   
   h2.label-title.label-title_decorate Были ли у Вас сложности при регистрации на сервисе/подключении <br>подписок? Если ДА, то какие?
   .form-field.field-custom.mt-7
      textarea(name="review" placeholder="Поле для описания проблем").field-custom__input.field-custom__input--textarea
