header.header
   .container
         .header-desc
            a.link(href="#") Вернуться на VOKA
            img.logo(src="./assets/images/voka.svg", alt="")
            h1.title Спасибо, что выбрали <br>видеосервис VOKA!
            p.description Помогите нам стать лучше. <br>Нам важна Ваша обратная связь.