header.header
   .container
         .header-desc
            a.link(href="#") Вернуться на VOKA
            img.logo(src="./assets/images/voka.svg", alt="")
            h1.title
               span Спасибо, 
               span что выбрали 
               span видеосервис VOKA!
            p.description Вы недавно зарегистрировались на видеосервисе VOKA. <br>Мы бы хотели попросить Вас принять участие <br>в исследовании. В нём всего 6 вопросов, и это займёт <br>2 минуты Вашего времени.