.container.mt-5
   .form-field.mt-8
      h2.h2-big Мы ценим Ваше мнение!
      p.desc-opinion Ваши пожелания и замечания помогают нам двигаться в правильном <br>направлении, совершенствовать качество сервиса, меняться к лучшему. <br>Пожалуйста, оставьте свои контактные данные.
   .form-field.mt-4
      h2.label-title Как можно к Вам обращаться?
      .field-custom
         input.field-custom__input.js-name-fetch(type="text" name="name" placeholder="Поле для ввода имени" value="Test name")
         .form-error.form-error-name
.container.mt-4   
   h2.label-title.ml-1 Пожалуйста, укажите Ваш контактный номер телефона.
      span Наш специалист свяжется с Вами в случае необходимости.
   .field-custom.ml-1.mt-1
      .wrpi
         input.field-custom__input.field-custom__input_small-area.js-mask-phone(type="text" name="phone" placeholder="+375 (__) ___-__-__")
         .form-error.form-error-phone
      button.btn.field-custom__btn.js-fetch-form Получить код