.container
   .number
      h2.label-title Пожалуйста, укажите Ваш контактный номер телефона. <br>Наш специалист свяжется с Вами в случае необходимости.
      .field-custom.number_field-custom
         input.field-custom__input(type="number" name="number" placeholder="+375 (XX) XXX XX XX")
         button.btn.field-custom__btn Получить код
