.container.mt-4   
   h2.label-title.ml-1 Пожалуйста, укажите Ваш контактный номер телефона. <br>Наш специалист свяжется с Вами в случае необходимости.
   .field-custom.ml-1.mt-1
      input.field-custom__input.field-custom__input_small-area(type="text" name="text" placeholder="Поле для ввода ответа")
      button.btn.field-custom__btn Получить код
.container.mt-4  
   h2.label-title.ml-1 Введите код из SMS для подтверждения номера телефона
   .field-custom.ml-1.mt-1
      input.field-custom__input.field-custom__input_small-area(type="number" name="number" placeholder="XXXX")
      button.btn.field-custom__btn Ok
