.container.mt-4  
   h2.label-title.ml-1 Введите код из SMS для подтверждения номера телефона
   .field-custom.ml-1.mt-1
      .wrpi
         input.field-custom__input.field-custom__input_small-area.js-mask-code(type="text" name="code" placeholder="XXXX")
         .form-error.form-error-code
      button(disabled).btn.field-custom__btn.js-btn-code Ok
