.container   
   h2.label-title.label-title_decorate Являетесь ли Вы абонентом мобильной связи А1?        
   .form-field.mt-2.js-choise
      .checkbox
         input.checkbox__input(type="radio" name="abonent" id="checkbox_1" value="yes") 
         label.checkbox__lable(for="checkbox_1") Да, являюсь 
      .checkbox           
         input.checkbox__input(type="radio" name="abonent" id="checkbox_2" value="no") 
         label.checkbox__lable(for="checkbox_2") Нет, не являюсь
      .form-error.form-error-b
               