.container   
   h2.label-title.label-title_decorate Какова вероятность, что Вы порекомендуете VOKA своим друзьям и близким?
   .form-field
      p.details.mt-1 Где 1 - «Ни в коем случае не буду рекомендовать», 10 - «Обязательно порекомендую»
      .form-field_row 
         .checkbox.checkbox_vertical
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_1" checked value="1") 
            label.checkbox__lable(for="checkbox_1") 1 
         .checkbox.checkbox_vertical            
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_2" value="2") 
            label.checkbox__lable(for="checkbox_2") 2 
         .checkbox.checkbox_vertical            
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_3" value="3")
            label.checkbox__lable(for="checkbox_3") 3        
         .checkbox.checkbox_vertical            
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_4" value="4") 
            label.checkbox__lable(for="checkbox_4") 4 
         .checkbox.checkbox_vertical
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_5" value="5")
            label.checkbox__lable(for="checkbox_5") 5  
         .checkbox.checkbox_vertical
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_6" value="6") 
            label.checkbox__lable(for="checkbox_6") 6 
         .checkbox.checkbox_vertical             
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_7" value="7") 
            label.checkbox__lable(for="checkbox_7") 7
         .checkbox.checkbox_vertical            
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_8" value="8") 
            label.checkbox__lable(for="checkbox_8") 8 
         .checkbox.checkbox_vertical            
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_9" value="9") 
            label.checkbox__lable(for="checkbox_9") 9 
         .checkbox.checkbox_vertical            
            input.checkbox__input(type="radio" name="recomendation" id="checkbox_10" value="10")   
            label.checkbox__lable(for="checkbox_10") 10                    