.container.mt-6  
   h2.label-title.label-title_decorate Смогли ли Вы найти интересующий контент?      
   .form-field.mt-2
      .checkbox
         input.checkbox__input(type="radio" name="interest" id="checkbox_29" value="yes") 
         label.checkbox__lable(for="checkbox_29") Да 
      .checkbox           
         input.checkbox__input(type="radio" name="interest" id="checkbox_30" value="no") 
         label.checkbox__lable(for="checkbox_30") Нет      