.container
   .services
      h2.label-title.label-title_decorate Какие еще сервис(ы) для просмотра видеоконтента <br>Вы используете?
      .form  
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_1") Zala/ЯСНА
            input.checkbox__input(type="checkbox" id="checkbox_1" value="Zala/ЯСНА")
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_2") МТС ТВ
            input.checkbox__input(type="checkbox" id="checkbox_2" value="МТС ТВ") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_3") IVI
            input.checkbox__input(type="checkbox" id="checkbox_3" value="IVI") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_4") Persik TV
            input.checkbox__input(type="checkbox" id="checkbox_4" value="Persik TV") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_5") КиноПоиск
            input.checkbox__input(type="checkbox" id="checkbox_5" value="КиноПоиск") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_6") Okko
            input.checkbox__input(type="checkbox" id="checkbox_6" value="Okko") 
         .checkbox.checkbox_indent.checkbox__other 
            label.checkbox__lable.checkbox__lable_form(for="checkbox_13") Другое:
            input.checkbox__input(type="checkbox" id="checkbox_13" value="Другое:")  
            .field-custom.field-custom__other              
               input.field-custom__input.field-custom_small(type="text" name="text" placeholder="Поле для ввода ответа")   