.container.mt-6
   h2.label-title.label-title_decorate Какие еще сервис(ы) для просмотра видеоконтента <br>Вы используете?
   .form-field.mt-2  
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_28" value="zala")
         label.checkbox__lable(for="checkbox_28") Zala/ЯСНА
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_29" value="МТС") 
         label.checkbox__lable(for="checkbox_29") МТС ТВ
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_30" value="IVI") 
         label.checkbox__lable(for="checkbox_30") IVI
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_31" value="persik") 
         label.checkbox__lable(for="checkbox_31") Persik TV
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_32" value="KinoPoisk") 
         label.checkbox__lable(for="checkbox_32") КиноПоиск
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_33" value="Okko") 
         label.checkbox__lable(for="checkbox_33") Okko
      .checkbox.checkbox__other         
         input.checkbox__input(type="checkbox" id="checkbox_34" value="other")
         label.checkbox__lable(for="checkbox_34") Другое:  
         .field-custom.field-custom__other              
            input.field-custom__input.field-custom_small(type="text" name="text" placeholder="Поле для ввода ответа")         