.container
   .sms
      h2.label-title Введите код из SMS для подтверждения номера телефона
      .field-custom.sms_field-custom
         input.field-custom__input(type="number" name="number" placeholder="+375 (XX) XXX XX XX")
         button.btn.field-custom__btn Ok