.container.mt-5
   h2.label-title.label-title_decorate На какие социальные сети VOKA Вы подписаны?
   .form-field.mt-7.js-choise
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_24" value="VK")
         label.checkbox__lable(for="checkbox_24") VK
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_25" value="Instagram") 
         label.checkbox__lable(for="checkbox_25") Instagram
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_26" value="OK") 
         label.checkbox__lable(for="checkbox_26") OK.ru
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_27" value="not-signed") 
         label.checkbox__lable(for="checkbox_27") Не подписан
      .form-error
      