.container.mt-5
   h2.label-title.label-title_decorate На каком устройстве используете видеосервис VOKA?
   .form-field.mt-7.js-choise
      .checkbox
         input.checkbox__input(name="myphone" type="checkbox" id="checkbox_24" value="myphone")
         label.checkbox__lable(for="checkbox_24") Приложение VOKA на телефоне
      .checkbox
         input.checkbox__input(name="TV" type="checkbox" id="checkbox_25" value="TV") 
         label.checkbox__lable(for="checkbox_25") Приложение VOKA на телевизоре
      .checkbox
         input.checkbox__input(name="set-top-box" type="checkbox" id="checkbox_26" value="set-top-box") 
         label.checkbox__lable(for="checkbox_26") ТВ-приставка на телевизоре
      .checkbox         
         input.checkbox__input(name="browser" type="checkbox" id="checkbox_27" value="browser") 
         label.checkbox__lable(for="checkbox_27") С помощью веб-браузера
      .form-error
      