.container.mt-6
   h2.label-title.label-title_decorate Как Вы узнали о сервисе VOKA?
   .form-field.mt-2.js-choise
      .checkbox
         input.checkbox__input(name="social-media-subscription" type="checkbox" id="checkbox_11" value="social-media-subscription")
         label.checkbox__lable(for="checkbox_11") Подписан на социальные сети A1/VOKA
      .checkbox
         input.checkbox__input(name="advertising" type="checkbox" id="checkbox_12" value="advertising") 
         label.checkbox__lable(for="checkbox_12") Реклама в социальных сетях
      .checkbox
         input.checkbox__input(name="contextual-advertising" type="checkbox" id="checkbox_13" value="contextual-advertising") 
         label.checkbox__lable(for="checkbox_13") Контекстная реклама (реклама на различных сайтах)
      .checkbox         
         input.checkbox__input(name="TV/Radio" type="checkbox" id="checkbox_14" value="bTV/Radio") 
         label.checkbox__lable(for="checkbox_14") Реклама на ТВ/Радио
      .checkbox         
         input.checkbox__input(name="urban-advertising" type="checkbox" id="checkbox_15" value="urban-advertising") 
         label.checkbox__lable(for="checkbox_15") Реклама в городе (биллборды, остановки, лифты)
      .checkbox         
         input.checkbox__input(name="recommendations" type="checkbox" id="checkbox_16" value="recommendations") 
         label.checkbox__lable(for="checkbox_16") Рекомендации друзей/родственников/знакомых
      .checkbox         
         input.checkbox__input(name="bloggers" type="checkbox" id="checkbox_17" value="bloggers") 
         label.checkbox__lable(for="checkbox_17") Публикации у блогеров
      .checkbox         
         input.checkbox__input(name="promotions" type="checkbox" id="checkbox_18" value="promotions") 
         label.checkbox__lable(for="checkbox_18") Промоакции у партнеров (Dominos, OZ, 5 элемент, Виталюр и др.)          
      .checkbox.checkbox__other         
         input.checkbox__input(name="other" type="checkbox" id="checkbox_23" value="other")
         label.checkbox__lable(for="checkbox_23") Другое:  
         .field-custom.field-custom__other              
            input.field-custom__input.field-custom_small(type="text" name="othervideo" placeholder="Поле для ввода ответа")
      .form-error                              