.container.mt-5
   h2.label-title.label-title_decorate На социальные сети каких видеосервисов и онлайн-кинотеатров <br>Вы подписаны?
   .form-field.mt-2.js-choise  
      .checkbox         
         input.checkbox__input(name="social-KinoPoisk" type="checkbox" id="checkbox_35" checked value="KinoPoisk") 
         label.checkbox__lable(for="checkbox_35") КиноПоиск
      .checkbox
         input.checkbox__input(name="social-IVI" type="checkbox" id="checkbox_36" value="IVI") 
         label.checkbox__lable(for="checkbox_36") IVI
      .checkbox         
         input.checkbox__input(name="social-Okko" type="checkbox" id="checkbox_37" value="Okko") 
         label.checkbox__lable(for="checkbox_37") Okko
      .checkbox         
         input.checkbox__input(name="social-Amediateka" type="checkbox" id="checkbox_38" value="Amediateka") 
         label.checkbox__lable(for="checkbox_38") Amediateka
      .checkbox.checkbox__other         
         input.checkbox__input(name="social-other" type="checkbox" id="checkbox_39" value="other")
         label.checkbox__lable(for="checkbox_39") Другое:  
         .field-custom.field-custom__other              
            input.field-custom__input.field-custom_small.js-other(type="text" name="othervideoservicesocial" placeholder="Поле для ввода ответа")
      .form-error  
