.container
   .video-content
      h2.label-title.label-title_decorate Какой видеоконтент Вы предпочитаете смотреть на VOKA?
      .form    
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_1") Мировые премьеры фильмов
            input.checkbox__input(type="checkbox" id="checkbox_1" value="Мировые премьеры фильмов")
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_2") Популярные фильмы и блокбастеры
            input.checkbox__input(type="checkbox" id="checkbox_2" value="Популярные фильмы и блокбастеры") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_3") Российские фильмы и сериалы
            input.checkbox__input(type="checkbox" id="checkbox_3" value="Российские фильмы и сериалы") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_4") Контент с белорусской озвучкой
            input.checkbox__input(type="checkbox" id="checkbox_4" value="Контент с белорусской озвучкой") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_5") Спортивные трансляции
            input.checkbox__input(type="checkbox" id="checkbox_5" value="Спортивные трансляции") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_6") Зарубежные популярные сериалы
            input.checkbox__input(type="checkbox" id="checkbox_6" value="Зарубежные популярные сериалы") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_7") Различные ТВ-каналы
            input.checkbox__input(type="checkbox" id="checkbox_7" value="Различные ТВ-каналы") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_8") Мультфильмы, детский контент
            input.checkbox__input(type="checkbox" id="checkbox_8" value="Мультфильмы, детский контент") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_9") Киберспортивные стримы
            input.checkbox__input(type="checkbox" id="checkbox_9" value="Киберспортивные стримы") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_10") Музыкальные концерты
            input.checkbox__input(type="checkbox" id="checkbox_10" value="Музыкальные концерты") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_11") Контент на языке оригинала
            input.checkbox__input(type="checkbox" id="checkbox_11" value="Контент на языке оригинала") 
         .checkbox.checkbox_indent
            label.checkbox__lable.checkbox__lable_form(for="checkbox_12") Разлекательные ТВ шоу
            input.checkbox__input(type="checkbox" id="checkbox_1" value="Разлекательные ТВ шоу") 
         //- как выровнять?
         .checkbox.checkbox_indent.checkbox__other 
            label.checkbox__lable.checkbox__lable_form(for="checkbox_13") Другое:
            input.checkbox__input(type="checkbox" id="checkbox_13" value="Другое:")  
            .field-custom.field-custom__other              
               input.field-custom__input.field-custom_small(type="text" name="text" placeholder="Поле для ввода ответа")                                    