.container.mt-6
   h2.label-title.label-title_decorate Какой видеоконтент Вы предпочитаете смотреть на VOKA?
   .form-field.mt-2.js-choise
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_11" value="premieres")
         label.checkbox__lable(for="checkbox_11") Мировые премьеры фильмов
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_12" value="popular-movies") 
         label.checkbox__lable(for="checkbox_12") Популярные фильмы и блокбастеры
      .checkbox
         input.checkbox__input(type="checkbox" id="checkbox_13" value="russian-films") 
         label.checkbox__lable(for="checkbox_13") Российские фильмы и сериалы
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_14" value="belarusian-voice-acting") 
         label.checkbox__lable(for="checkbox_14") Контент с белорусской озвучкой
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_15" value="sport") 
         label.checkbox__lable(for="checkbox_15") Спортивные трансляции
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_16" value="foreign-series") 
         label.checkbox__lable(for="checkbox_16") Зарубежные популярные сериалы
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_17" value="TV-channels") 
         label.checkbox__lable(for="checkbox_17") Различные ТВ-каналы
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_18" value="cartoons") 
         label.checkbox__lable(for="checkbox_18") Мультфильмы, детский контент
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_19" value="esports-streams")
         label.checkbox__lable(for="checkbox_19") Киберспортивные стримы 
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_20" value="music-concerts")
         label.checkbox__lable(for="checkbox_20") Музыкальные концерты 
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_21" value="original-language") 
         label.checkbox__lable(for="checkbox_21") Контент на языке оригинала
      .checkbox         
         input.checkbox__input(type="checkbox" id="checkbox_22" value="TV-show")
         label.checkbox__lable(for="checkbox_22") Разлекательные ТВ шоу      
      .checkbox.checkbox__other         
         input.checkbox__input(type="checkbox" id="checkbox_23" value="other")
         label.checkbox__lable(for="checkbox_23") Другое:  
         .field-custom.field-custom__other              
            input.field-custom__input.field-custom_small(type="text" name="othervideo" placeholder="Поле для ввода ответа")
      .form-error                              